<div class = "container">
  <h1> Totals Table</h1><br>
  <table class = "table table-striped table-bordered">
    <tr class ="info">
      <td><strong>Name</strong></td>
      <td><strong>Total Amount</strong></td>
    </tr>
	<% @counter = 0 %>
	<% @users.each do |u| %>
	<tr>
	  <% if u.leader? %>
	    <td><%= u.fullname + " (Leader)" %></td>
	  <% else %>
	    <td><%= u.fullname %></td>
	  <% end %>
      <td><%= @member_total_amount[@counter] %> </td>
	</tr>
	<% @counter += 1 %>
	<% end %>
    <tr>
      <td><strong>Overall (Does not include Leader's raised funds)</strong></td>
      <td><%= @total_amount %></td>
    </tr>
  </table>

</div>