body
{
	text-align: center;
    font-size: 1em;
    font-family: "Arial", Verdana, Helvetica, Sans-Serif;
    line-height: 1.7em;
    color: #333;
    background-color: #fff;
    margin: 0 0;
    padding: 0 0;
}

ul 
{
    list-style-type: square;
    padding: 0 20px;
    margin: 0;
}

a
{
    text-decoration:none;
}



/* --------------------------------------------------------
     Homepage Styles
-----------------------------------------------------------*/

#container
{   
    position: absolute;
    z-index: 10;
    top: 42px;
    left: 0px;
    margin: 0 0;
    font-family: arial, sans-serif;

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #383737 0%, #000000 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #383737 0%, #000000 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #383737 0%, #000000 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #383737), color-stop(1, #000000));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #383737 0%, #000000 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #383737 0%, #000000 100%);
}

#header-logo {
    left: 0px;
    right: 0px; 
    padding: 1em;
    z-index: 1;
    position: fixed;
    -moz-box-shadow: 0 0 5px 5px #000;
    -webkit-box-shadow: 0 0 5px 5px#000;
    box-shadow: 0 0 5px 5px #000;

    background: #141414; /* Old browsers */
    background: -moz-linear-gradient(top,  #141414 1%, #202321 51%, #141212 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#141414), color-stop(51%,#202321), color-stop(100%,#141212)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #141414 1%,#202321 51%,#141212 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #141414 1%,#202321 51%,#141212 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #141414 1%,#202321 51%,#141212 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #141414 1%,#202321 51%,#141212 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#141212',GradientType=0 ); /* IE6-9 */



}   

.hwrapper {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#hscroll-main-wrapper
{
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.vwrapper
{
    position: relative;
    display: block;
    float: left;
    width: 300px;
    padding: 0px 20px;

}

.vwrapper-content
{
    position: absolute;
    padding-bottom: 45px;
    width: 300px;
}

/* --------------------------------------------------------
     Sign-Up
-----------------------------------------------------------*/

.user-container
{
    position: absolute;
    top: 42;
    left: 0;
    bottom: 2;
    right: 0;
    height: 100%;
    overflow: visible !important;
}

.user-content
{
    margin: 0 auto;
    text-align: center;
}

.form-actions
{
    width: 300px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 3px #000000;
}

.checkbox
{
    width: 0;
    margin: 0 auto;
}

.finance-page
{
    width: 60% !important;

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #FFFFFF), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-side at center, #FFFFFF 0%, #DBDBDB 100%);
}

.edit-page
{
    width: 40% !important;

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #FFFFFF), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-side at center, #FFFFFF 0%, #DBDBDB 100%);
}

.new-page
{
    width: 40% !important;

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #FFFFFF), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-side at center, #FFFFFF 0%, #DBDBDB 100%);
}

#pic_image
{
    position: relative !important;
    left: 90px !important;
}

.update-page
{
    width:40% !important;

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #FFFFFF), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-side at center, #FFFFFF 0%, #DBDBDB 100%);
}

.list-page
{
    width: 80% !important;
    position: relative;

    /* IE10 Consumer Preview */ 
  background-image: -ms-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #FFFFFF), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-side at center, #FFFFFF 0%, #DBDBDB 100%);
}

.list-page .btn
{
    margin: 5px 10px;
}

.list-page p
{
    margin: 10px;
}

.navbar
{
    padding-bottom: 30px;
}
